<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.attaparunever2.order.OrderDetailMapper">

    <insert id="postOrderDetail" useGeneratedKeys="true" keyProperty="orderDetailId">
        INSERT INTO order_detail
        SET order_id = #{orderId}
        , menu_id = #{menuId}
        , menu_count = #{menuCount}
        , price = #{price}
    </insert>

</mapper>