<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.attaparunever2.restaurant.restaurant_pic.RestaurantPicMapper">
    <insert id="insRestaurantPic">
        INSERT INTO restaurant_pic
        ( restaurant_id, file_path )
        VALUES
        <foreach collection="filePath" item="pic" separator=",">
            ( #{restaurantId}, #{pic} )
        </foreach>
    </insert>

    <update id="updRestaurantMenuPic">
        UPDATE restaurant_menu
           SET menu_pic = #{picName}
         WHERE menu_id = #{menuId}
    </update>

    <update id="updRestaurantPic">
        UPDATE restaurant_pic
        SET file_path =
        <foreach collection="picName" item="pic" separator=",">
            <if test="pic != null">
                #{pic}
            </if>
        </foreach>
        WHERE restaurant_id = #{restaurantId}
          AND pic_id = #{picId}
    </update>
</mapper>